@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.header {
    border-bottom: 2px solid #C4C4C4
}

/* Default styles (desktop) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #F0F6FF;
  font-family: Arial, Helvetica, sans-serif;
}
